mmdetection
data
/runs_archive/
/checkpoints/
/configs/
/auto_od/inference/output/
/auto_od/inference/images/
/onnxruntime-linux-x64-1.8.1/
/req.txt
/auto_od/order/track/req.txt
/auto_od/order/track/readme.md
/auto_od/inference/ex.py
/auto_od/track/ex.py
/auto_od/data_preprocess/converter/ex.py
/auto_od/data_preprocess/split/ex.py
/auto_od/check/ex.py
/additional_weapon/
/weapon/
/work_dirs/
/auto_od.log
